body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}    

.padded {
	padding-left: 15%;
 	padding-right: 15%;
}

@media only screen and (max-width: 992px) {
  .padded {
    padding-left: 0rem;
 	padding-right: 0rem;
  }
}

.parallax-container {
	height: 400;
}

.nav-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .nav-container {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .nav-container {
    width: 70%;
  }
}

.page-footer {
  padding-top: 0px; /*usually 20*/
}

.resume-header {
	font-weight:bold;
}

@media only screen and (max-width: 600px) {
  .col-resume {
    float: none !important;
  }
}

.no-outline, .no-outline tr, .no-outline th, .no-outline td {
	border: none;
}
