body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}    

.padded {
	padding-left: 15%;
 	padding-right: 15%;
}

@media only screen and (max-width: 992px) {
  .padded {
    padding-left: 0rem;
 	  padding-right: 0rem;
  }
}

.no-padding {
  padding: 0;
}

.parallax-container {
	height: 400;
}

.nav-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .nav-container {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .nav-container {
    width: 70%;
  }
}

.page-footer {
  padding-top: 0px; /*usually 20*/
}

.resume-header {
	font-weight: bold;
  margin-top: 0;
}

.resume-organization {
  margin-top: 0;
  color: #757575 !important;
}

.resume-location {
  margin-top: 0;
  text-align: right;
}

.resume-time-period {
  margin-top: 0;
  text-align: right;
  color: #757575 !important;
}

.resume-bullets {
  margin-top: 0;
}

.skill-table th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

@media only screen and (max-width: 600px) {
  .col-resume {
    float: none !important;
  }
}

.no-outline, .no-outline tr, .no-outline th, .no-outline td {
	border: none;
}

.row {
  margin-bottom: 0;
}

.collection .collection-item.avatar {
  min-height: 0px
}

.card .card-title {
  font-size: 30px;
  font-weight: 400;
}

.header {
  margin-top: 300px;
}

.large-icon {
  font-size: 3.56rem;
}
